*{
    padding: 0 ;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
}
.black{
    color: black;
}
.white{
    color: white;
}
.grey {
    color: rgb(150, 150, 150);
}
.bg-black {
    background-color: black;
}
.bg-yellow {
    background-color: rgb(255, 145, 0);
}
.roboto {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bold {
    font-weight: bold;
}
.container_login {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 550px;
    width: 1000px;
    background-color: white;
    display: flex;
    font-family: sans-serif;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.container_login_1{
    background-image: url('asset/frame1.png');
    background-size: 500px;
    width: 510px;
    font-size: 25px;
    color: white;
    padding: 250px 0px 100px 40px;
}
.container_login_2{

    width: 450px;
    padding: 60px 50px 0px 50px;
}
.container_login_3{
    width: 450px;
    padding: 30px 50px 0px 50px;
}
.container_reg_1{
    display: flex;
}
.container_reg_1_1{
    margin-right: 20px;
}
.input_1{
    padding: 10px 20px;
    width: 90%;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 8px;
    font-size: 15px;
    margin-top: 5px;
}
.input_2{
    padding: 10px 20px;
    width: 76%;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 8px;
    font-size: 15px;
    margin-top: 5px;
}
.button_1 {
    background-color: black;
    color: white;
    padding: 12px 173px ;
    border-radius: 8px;
}
.button_1:hover{
    background-color: rgb(31, 31, 31);
    color: white;
    transition-duration: 0.5s;
}
.button_2 {
    background-color: black;
    color: white;
    padding: 10px 12px ;
    border-radius: 8px;
}
.button_2:hover{
    background-color: rgb(65, 65, 65);
    color: white;
    transition-duration: 0.5s;
}
.button_3{
    background-color: rgb(215, 215, 215);
    color: black;
    padding: 12px 220px ;
    border-radius: 8px;
}
.button_3:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    padding: 12px 220px ;
    border-radius: 8px;
}

/* class navigation bar */
.navigation-bar{
    height: 500px;
}

/* class header home */
.header-home{
    height: 500px;
}

/* class list card */
.list-card{
    height: 500px;
}

/* class footer */
.footer{
    display: flex;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    padding: 140px 0px 100px 0px;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    background: #030712; 
}

/* id bottom nav */
#bottom-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#navigation{
    display: flex;
    align-items: center;
    gap: 16px;
}

#bottom-nav{
    padding-left: 12px; 
    padding-right: 12px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}

.bottom-nav-text{
    color: white; 
    font-size: 18px; 
    font-family: Roboto; 
    font-weight: 400; 
    line-height: 25.20px; 
    word-wrap: break-word;
}

#bottom-nav-button{
    width: 128px; 
    align-self: stretch; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 16px; 
    display: flex;
}

.social{
    width: 32px; 
    height: 32px; 
    position: relative;
}

.social-button{
    width: 32px;
    height: 32px;
}

#container-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.logo{
    width: 100%;
    height: 100%; 
    position: relative
}

#casePose-text{
    color: white; 
    font-size: 64px; 
    font-family: Roboto; 
    font-weight: 500; 
    line-height: 89.60px;
}

#copyright{
    text-align: center; 
    color: white; 
    font-size: 28px; 
    font-family: Roboto; 
    font-weight: 500; 
    line-height: 39.20px;
}

.profil {
    height: 130px;
    width: 1100px;
    margin: 0 auto;
    padding: 15px 0px;
    display: flex;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
}
.profil_2{
    width: auto;
    height: 120px;
    display: flex;
}
.profil_foto
{
    background-image: url('asset/pp.png');
    background-size: 100px;
    height: 100px;
    width: 100px;
    margin: 15px;
    border-radius: 100px;
    line-height: 130px;
    margin-right: 40px;
}
.profil_desc{
    margin-left: 40px;
}
.profil_bagan{
    height: 40px;
    width: 1100px;
    margin: 0 auto;
    padding: 2px 0px;
    display: flex;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    border: 2px solid rgb(218, 218, 218);
}
.content_card {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 300px;
}
.card {
    margin-top: 20px;
    width: 340px;
    height: 330px;
    border-radius: 10px;
    background-color: white;
    color: black;
}
.card:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.card_image {
    background-image: url('asset/grab.png');
    background-size: cover;
    border-radius: 10px;
    width: 340px;
    height: 280px;
}
