*{
    padding: 0 ;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
}
.black{
    color: black;
}
.white{
    color: white;
}
.grey {
    color: rgb(150, 150, 150);
}
.bg-black {
    background-color: black;
}
.bg-yellow {
    background-color: rgb(255, 145, 0);
}
.font-sans {
    font-family: sans-serif;
}
.bold {
    font-weight: bold;
}
.container_login {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 550px;
    width: 1000px;
    background-color: white;
    display: flex;
    font-family: sans-serif;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.container_login_1{
    background-image: url('asset/frame1.png');
    background-size: 500px;
    width: 510px;
    font-size: 25px;
    color: white;
    padding: 250px 0px 100px 40px;
}
.container_login_2{

    width: 450px;
    padding: 60px 50px 0px 50px;
}
.input_1{
    padding: 10px 20px;
    width: 90%;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 8px;
    font-size: 15px;
    margin-top: 5px;
}
.button_1 {
    background-color: black;
    color: white;
    padding: 12px 177px ;
    border-radius: 8px;
}
.button_1:hover{
    background-color: rgb(31, 31, 31);
    color: white;
    transition-duration: 0.5s;
}