/* Component Card */
/* @media (width > 480px) {
    .card {
        width: 340px; 
    }
} */

@media (width <= 480px) {
    .card_image, .card_image_hover {
        display: flex;
        flex-shrink: 1;
        width: 70.833vw;
    }
}

@media (width > 480px) {
    .card_image, .card_image_hover {
        display: flex;
        flex-shrink: 1;
        width: 340px;
    }
}

.content_card {
    width: 77.778vw;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 300px;
    gap: 30px;
}

.card {
    margin-top: 20px;
    max-width: 340px;
    height: auto; 
    aspect-ratio: 340 / 330;
    border-radius: 10px;
    color: black;
}

.card_image {
    background-size: cover;
    border-radius: 10px;
    max-width: 340px;
    height: auto;
    aspect-ratio: 340 / 280;
}

.card_image_hover{
    border-radius: 10px;
    height: auto;
    aspect-ratio: 340 / 280;
}

.card_image_hover:hover {
    background-color: rgba(0, 0, 0, 0.493);
    transition-duration: 0.5s;
}