/* Component Card */
.content_card {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 300px;
}
.card {
    margin-top: 20px;
    width: 340px;
    height: 330px;
    border-radius: 10px;
    background-color: white;
    color: black;
}
.card_image {
    background-size: cover;
    border-radius: 10px;
    width: 340px;
    height: 280px;
}
.card_image_hover{
    border-radius: 10px;
    width: 340px;
    height: 280px;
}
.card_image_hover:hover {
    background-color: rgba(0, 0, 0, 0.493);
    transition-duration: 0.5s;
}