/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12rem;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99;
    transition: padding 0.5s;
}

/* Media Queries */
@media (max-width: 1200px) {
    .navbar {
        padding: 10px 2.5rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 0.5rem;
    }

    .navbar .navbar-actions {
        padding: 0.5rem;
        gap: 8px;
    }

    .navbar .navbar-divider {
        visibility: hidden;
    }

    .navbar .navbar-item, .navbar .navbar-button-text, .navbar .navbar-button-text-alt {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .navbar .navbar-menu {
        flex-direction: row;
        gap: 8px;
    }

    .navbar .navbar-item, .navbar .navbar-button-text, .navbar .navbar-button-text-alt {
        font-size: 0.8rem;
    }
}

@media (max-width: 560px) {
    .navbar .navbar {
        flex-direction: column;
    }

    .navbar .navbar-divider {
        display: none;
    }

    .navbar .navbar-actions {
        flex-direction: row;
    }
}

/* Navbar Styles */
.navbar .navbar-menu {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.navbar .navbar-item {
    all: unset;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    color: rgba(17, 24, 39, 1);
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin: 0 4px;
    padding: 8px 12px;
    text-decoration: none;
}

.navbar .navbar-item.active, .navbar .navbar-item:hover {
    border-bottom: 2px solid #0F172A;
    font-weight: 700;
}

/* Text Styles */
.navbar .navbar-text {
    display: block;
}

.navbar .navbar-button-text {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    flex: 0 0 auto;
}

/* Logo Styles */
.navbar .navbar-divider {
    position: relative;
    width: 106px;
    height: 44px;
    background-color: #d9d9d9;
}

/* Actions Styles */
.navbar .navbar-actions {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

/* Button Styles */
.navbar .navbar-button, .navbar .navbar-button-alt {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, fill 0.3s;
}

.navbar .navbar-button {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(3, 7, 18, 1);
}

.navbar .navbar-button:hover {
    background-color: rgba(3, 7, 18, 1);
    color: rgba(255, 255, 255, 1);
}

.navbar .navbar-button-alt {
    background-color: rgba(3, 7, 18, 1);
    color: rgba(255, 255, 255, 1);
}

.navbar .navbar-button-alt:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(3, 7, 18, 1);
}

/* Text Styles */
.navbar .navbar-button-text, .navbar .navbar-button-text-alt {
    position: relative;
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 100%;
    white-space: nowrap;
    font-style: normal;
}
