*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.black{
    color: black;
}
.blue{
    color: rgb(39, 115, 255);
}
.white{
    color: white;
}
.red {
    color: red;
}
.grey {
    color: rgb(150, 150, 150);
}
.bg-black {
    background-color: black;
}
.bg-yellow {
    background-color: rgb(255, 145, 0);
}
.font-sans {
    font-family: sans-serif;
}
.bold {
    font-weight: 600;
}
.bold2 {
    font-weight: 700;
}

@media (width < 1024px) { 
    body {
        min-height: 850px !important;
    }
    .container_login {
        margin: 0 !important;
        width: 100% !important;
        min-height: 850px !important;
        flex-direction: column;
        align-items: center;
        box-shadow: none !important;
    }

    .container_login_2.grey {
        margin: 150px 0 !important;
    }

    .container_login_1 { 
        width: 100% !important;
        padding: 9.766vw 0px 1.953vw 4.883vw !important;
    }

    .container_login_2 {
        width: 100% !important;
        padding: 20px 15.625vw 0 !important;
    }

    .container_login_1 #\31 {
        font-size: 8.333vw !important;
    }
}

.container_login {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    height: 550px;
    width: 1000px;
    background-color: white;
    font-family: sans-serif;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
}

.container_login_1{
    background-image: url('../asset/frame1.png');
    background-size: cover;
    background-position: center;
    width: 50%;
    color: white;
    padding: 225px 0px 0px 54px;
}
.container_login_1 #\31 {
    font-size: 64px;
}
.container_login_1 #\32 {
    font-size: 36px;
}
.container_login_2{
    width: 50%;
    padding: 50px 50px 0px 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.container_login_1 *, .container_login_2 *, .container_login_3 * {
    margin: 0;
}
h1 {
    margin: 10px 0 18px;
}
.container_login_2 .roboto.bold.bold {
    font-size: 14px;
    margin: 8px 0 0px;
}
.container_login_3 {
    width: 50%;
    padding: 0 50px 0px 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_login_3 .roboto.bold {
    font-size: 14px;
    margin: 8px 0 0px;
}
.container_reg_1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.container_reg_1_1, .container_reg_1_2 {
    width: 100%;
    display: grid;
}
.input_1{
    padding: 8px 12px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 6px;
    font-size: 14px;
}
.input_2{
    padding: 10px 20px;
    width: 76%;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 8px;
    font-size: 15px;
    margin-top: 5px;
}
#error-label {
    visibility: hidden;
}
.button_1 {
    display: flex;
    font-size: 15px;
    padding: 12px 0;
    border-radius: 8px;
    width: 100%;
    margin: 8px 0 4px;
    font-weight: 600;
    transition-duration: 0.3s;
    justify-content: center;
}
.button_1 {
    border: 2px solid rgba(3, 7, 18, 1);
    background-color: rgba(3, 7, 18, 1);
    color: rgba(255, 255, 255, 1);
}

.button_1:hover {
    border: 2px solid rgba(3, 7, 18, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(3, 7, 18, 1);
}

/* class list card */
.list-card{
    height: 500px;
}

/* class footer */
.footer{
    display: flex;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    padding: 140px 0px 100px 0px;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    background: #030712;
}

/* id bottom nav */
#bottom-navigation{
    margin: 0px 160px 0px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#bottom-navigation-menu{
    display: flex;
    align-items: center;
    gap: 16px;
}

#bottom-nav{
    padding-left: 12px; 
    padding-right: 12px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}

.bottom-nav-text{
    color: white; 
    font-size: 18px; 
    font-family: Roboto; 
    font-weight: 400; 
    line-height: 25.20px; 
    word-wrap: break-word;
}

#bottom-nav-button{
    width: 128px; 
    align-self: stretch; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 16px; 
    display: flex;
}

.social{
    width: 32px; 
    height: 32px; 
    position: relative;
}

.social-button{
    width: 32px;
    height: 32px;
}

#container-logo{
    margin: 0px 160px 0px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 400px;
    position: relative;
    display: flex;
}

#casePose-text{
    color: white; 
    font-size: 64px; 
    font-family: Roboto; 
    font-weight: 500; 
    line-height: 89.60px;
    margin-right: 10px;
}

#copyright{
    width: 100px;
    text-align: center; 
    color: white; 
    font-size: 28px; 
    font-family: Roboto; 
    font-weight: 500; 
    line-height: 39.20px;
}

/* Contain halaman home */
@media (width > 768px) {
    .header-home {
        width: 700px;
    }

    .text-field-icon {
        width: 500px;
    }
}

@media (width <= 768px) {
    .header-home {
        width: 91.146vw;
    }

    .text-field-icon {
        width: 65.104vw;
    }
}

@media (width > 560px) {
    .header-home {
        height: 200px;
    }
    
    .header-home .title {
        font-size: 32px; 
    }
}

@media (width <= 560px) {
    .header-home {
        width: 85vw;
        height: auto;
    }
}

.header-home {
    margin: 40px auto;
    
    text-align: center;
}

.title{
    text-align: center; 
    color: #111827; 
    font-size: 32px;
    font-family: Roboto; 
    font-weight: 500; 
    line-height: 44.80px; 
    word-wrap: break-word
}

.subtitle{
    text-align: center; 
    color: #9CA3AF; 
    font-size: 14px; 
    font-family: Roboto; 
    font-weight: 400; 
    line-height: 19.60px; 
    word-wrap: break-word;
    margin-bottom: 12px;
}
#text{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 8px;
    margin-bottom: 32px;
}
.text-field-icon{
    height: 54px;
    box-sizing: border-box;
    padding: 12px 32px 12px 52px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 8px;
    background-color: white;
    background: url('../asset/magnifying-glass.png') no-repeat;
    background-size: 20px;
    background-position: 20px 50%;
}
.error-label-1 {
    position: absolute;
    top: 415px; 
    left: 10; 
    display: none;
}
.error-label-2 {
    position: absolute;
    top: 415px; 
    left: 10; 
    display: none;
}
.error-label-3 {
    position: absolute;
    top: 415px; 
    left: 10; 
    display: none;
}
.error-label-4 {
    position: absolute;
    top: 415px; 
    left: 10; 
    display: none;
}

.back-button {
    display: block;
    width: 50px;
    height: 50px;
}

.back-arrow-container {
    text-align: left; 
    margin-top: 20px; 
    position: relative;
    top: -40px;
    
}

.back-arrow {
    color: #000;
    font-size: 40px;
    text-decoration: none;
    margin: 0;
    transition: 0.3s;
}

.back-arrow:hover {
    color: rgb(63, 80, 131);
}

.container_login_3 .button_1 {
    margin : 8px 0 4px;
}

.input_3{
    padding: 8px 12px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 6px;
    font-size: 14px;
}
.input_4{
    padding: 8px 12px;
    width: 100%;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 8px;
    font-size: 14px;
}