.content-detail-1{
    width: 1000px;
    height: 550px;
    border-radius: 20px;
    background-size: cover;
    border: 2px solid rgb(239, 239, 239);
}

.content-detail-desc{
    height: 250px;
    width: 650px;
    display: block;
}

.more-project {
    padding: 60px 0px;
    width: 100%;
    margin: 0 auto;
    background-color: #F1F5F9;
    height: 600px;
}
.more-project-1{
    width: 650px;
    display: block;
}
.more-project-2 {
    width: 1100px;
    display: flex;
    text-align: left;
}
.more-project-label {
    font-size: 30px;
}
.content-detail-desc-head {
    height: 40px;
    padding: 0px 20px;
}
.label_1 {
    font-size: 25px;
}
.label_2 {
    font-weight: 700;
    color: rgb(0, 85, 255);
}
.content-detail-desc-head-left {
    line-height: 40px;
    display: flex;
    float: left;
}
.content-detail-desc-head-line{
    line-height: 40px;
    margin: 0px 10px;
}
.content-detail-desc-head-line img{
    width: 15px;
}
.content-detail-desc-head-right {
    line-height: 40px;
    float: right;
}
.content-detail-desc-head-title .content-detail-desc-head-type{
    line-height: 40px ;
}
.open-project-button {
    background-color: white;
    padding: 8px 12px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid rgb(239, 239, 239);
    transition-duration: 0.5s;
}
.open-project-button:hover {
    background-color: black;
    color: white;
    transition-duration: 0.5s;
}
.content-detail-desc-head-about{
    height: 200px;
    padding: 20px;
}
.content-detail-desc-head-about p {
    font-size: 25px;
    text-align: justify;
}
.content-detail-more-head {
    line-height: 40px;
    padding: 20px;
    border-bottom: 2px solid black;
}
.content-detail-list-content {
    line-height: 60px;
    display: flex;
    justify-content: flex-start;
    height: 60px;
    margin: 0px 20px;
    border-bottom: 2px solid rgb(239, 239, 239);
}
.content-detail-more-detail label {
    font-size: 20px;
}
.lbl {}