
.button_2 {
    border: 2px solid rgba(3, 7, 18, 1);
    background-color: rgba(3, 7, 18, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 20px ;
    font-weight: 600;
    border-radius: 8px;
    transition-duration: 0.5s;
}
.button_2:hover{
    border: 2px solid rgba(3, 7, 18, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(3, 7, 18, 1);
    transition-duration: 0.5s;
}
.button_3 {
    color: black;
    padding: 13px 200px;
    font-weight: 600;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.button_3:hover{
    color:rgb(39, 115, 255);
    background-color: rgb(225, 235, 253);
    transition-duration: 0.2s;
}
.active {
    color:rgb(39, 115, 255);
    background-color: rgb(225, 235, 253);
}
.profil {
    height: 200px;
    width: 1100px;
    margin: 0 auto;
    padding: 15px 0px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
}
.profil_2{
    width: auto;
    margin: 0 auto;
    height: 120px;
    display: flex;
}
.profil_foto
{
    background-size: 130px;
    height: 130px;
    width: 130px;
    margin: 15px;
    border-radius: 100px;
    line-height: 130px;
    margin-right: 40px;
}
.profil_desc{
    margin-left: 40px;
    gap: 20px;
}
.profil-desc-email {
    margin-top: 10px;
}
.profil_bagan{
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    border-radius: 10px;    
    border: 1px solid rgb(213, 213, 213);
}
.margin-auto{
    margin: 0 auto;
}
.input_3{
    padding: 8px 12px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 6px;
    font-size: 14px;
}
.input_4{
    padding: 8px 12px;
    width: 100%;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 8px;
    font-size: 14px;
}
.profil-desc-button{
    margin-top: 20px;
}
.font-name{
    font-size: 20px;
}
.ft-25{
    font-size: 25px;
}
.ft-20{
    font-size: 20px;
}
.content-profil-about {
    width: 1100px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    gap: 50px;
}
.content-profil-about-1{
    width: 600px;
    height: 500px;
}
.content-profil-about-2{
    width: 450px;
    height: 500px;
}
.head-1 ,.head-2{
    width: 100%;
    padding: 20px 0px;
    border-bottom: 3px solid black;
}
.head-1 img {
    width: 30px;
    margin: 0px 15px 5px 0px;
}
.head-2 img {
    width: 30px;
    margin: 0px 15px 5px 0px;
}
.list-sosmed {
    width: 450px;
    height: 420px;
    margin-top: 30px;
}
.list-sosmed-1{
    border-bottom: 3px solid rgb(239, 239, 239);
    display: flex;
    gap: 16px;
    padding: 16px 0px;
    align-items: flex-start;
    align-self: stretch;
}
.list-sosmed-1-left{
    line-height: 140%;
    float: left;
    width: 120px;
    margin-left: 20px;
}
.list-sosmed-1-1{
    line-height: 140%;
    float: left;
}
.list-sosmed-1-2{
    line-height: 140%;
    float: left;
}
.list-sosmed-1-2 img{
    width: 30px;
}
.content-profil-about-1-content{
    margin-top: 30px;
}