.pricing {
    background-color: #ffffff;
    height: 1384px;
    position: relative;
    width: 1440px;
  }
  
  .pricing .navigation-bar-instance {
    left: 160px !important;
    position: absolute !important;
    top: 28px !important;
  }
  
  .pricing .navigation-bar-2 {
    border-bottom-style: unset !important;
    border-bottom-width: unset !important;
    border-color: unset !important;
  }
  
  .pricing .navigation-bar-3 {
    font-family: var(--navigation-regular-font-family) !important;
    font-size: var(--navigation-regular-font-size) !important;
    font-style: var(--navigation-regular-font-style) !important;
    font-weight: var(--navigation-regular-font-weight) !important;
    letter-spacing: var(--navigation-regular-letter-spacing) !important;
    line-height: var(--navigation-regular-line-height) !important;
  }
  
  .pricing .navigation-bar-4 {
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
    border-color: var(--tailwind-css-332slate900) !important;
  }
  
  .pricing .navigation-bar-5 {
    font-family: var(--navigation-bold-font-family) !important;
    font-size: var(--navigation-bold-font-size) !important;
    font-style: var(--navigation-bold-font-style) !important;
    font-weight: var(--navigation-bold-font-weight) !important;
    letter-spacing: var(--navigation-bold-letter-spacing) !important;
    line-height: var(--navigation-bold-line-height) !important;
  }
  
  .pricing .overlap-group {
    background-color: var(--tailwind-css-332white);
    border: 2px solid;
    border-color: var(--tailwind-css-332slate100);
    border-radius: 40px;
    height: 621px;
    left: 160px;
    position: absolute;
    top: 170px;
    width: 1120px;
  }
  
  .pricing .this-page-still {
    color: var(--tailwind-css-332slate900);
    font-family: "Roboto-Medium", Helvetica;
    font-size: 48px;
    font-weight: 500;
    left: 370px;
    letter-spacing: 0;
    line-height: 67.2px;
    position: absolute;
    text-align: center;
    top: 308px;
  }
  
  .pricing .image {
    height: 188px;
    left: 464px;
    object-fit: cover;
    position: absolute;
    top: 69px;
    width: 188px;
  }
  
  .pricing .footer-instance {
    left: 0 !important;
    position: absolute !important;
    top: 951px !important;
  }
 /* farhan */
  .alert1 {
    margin: 40px auto;
    text-align: center;
    width: 1120px;
    padding-top: 80px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
  }