
/* Halaman home bagian navigation bar */
.navigation-bar{
    width: 1120px;
    padding: 12px 24px 12px 24px; 
    background: white; 
    border-radius: 12px; 
    border: 1px #F1F5F9 solid; 
    justify-content: space-between; 
    display: flex;
    align-items: center;
    margin-top: 40px;
}

#top-navigation-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.button-submit{
    display: flex;
    height: 48px;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #030712;
    font-family: Roboto; 
    font-weight: 500; 
    line-height: 89.60px;
    color: #ffffff;
}

.button-sign-up{
    display: flex;
    height: 48px;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px #E9E9EB solid;
    font-family: Roboto; 
    color: #202020;
    font-weight: 500; 
    line-height: 89.60px;
}

#cta-nav-bar{
    justify-content: flex-end;
    align-items: center; 
    gap: 16px; 
    display: flex;
}

#top-nav-active{
    padding: 8px 12px 8px 12px; 
    border-bottom: 2px #111827 solid; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}

#top-nav-inactive{
    padding: 8px 12px 8px 12px;
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}

.top-nav-text-active{
    color: #111827; 
    font-size: 18px; 
    font-family: Roboto; 
    font-weight: 700; 
    line-height: 25.20px; 
    word-wrap: break-word;
}
.top-nav-text-inactive{
    color: #111827; 
    font-size: 18px; 
    font-family: Roboto; 
    font-weight: 400; 
    line-height: 25.20px; 
    word-wrap: break-word;
}