:root {
  --tailwind-css-332black: rgba(0, 0, 0, 1);
  --tailwind-css-332white: rgba(255, 255, 255, 1);
  --tailwind-css-332slate50: rgba(248, 250, 252, 1);
  --tailwind-css-332slate100: rgba(241, 245, 249, 1);
  --tailwind-css-332slate200: rgba(226, 232, 240, 1);
  --tailwind-css-332slate300: rgba(203, 213, 225, 1);
  --tailwind-css-332slate400: rgba(148, 163, 184, 1);
  --tailwind-css-332slate500: rgba(100, 116, 139, 1);
  --tailwind-css-332slate600: rgba(71, 85, 105, 1);
  --tailwind-css-332slate700: rgba(51, 65, 85, 1);
  --tailwind-css-332slate800: rgba(30, 41, 59, 1);
  --tailwind-css-332slate900: rgba(15, 23, 42, 1);
  --tailwind-css-332slate950: rgba(2, 6, 23, 1);
  --tailwind-css-332gray50: rgba(249, 250, 251, 1);
  --tailwind-css-332gray100: rgba(243, 244, 246, 1);
  --tailwind-css-332gray200: rgba(229, 231, 235, 1);
  --tailwind-css-332gray300: rgba(209, 213, 219, 1);
  --tailwind-css-332gray400: rgba(156, 163, 175, 1);
  --tailwind-css-332gray500: rgba(107, 114, 128, 1);
  --tailwind-css-332gray600: rgba(75, 85, 99, 1);
  --tailwind-css-332gray700: rgba(55, 65, 81, 1);
  --tailwind-css-332gray800: rgba(31, 41, 55, 1);
  --tailwind-css-332gray900: rgba(17, 24, 39, 1);
  --tailwind-css-332gray950: rgba(3, 7, 18, 1);
  --tailwind-css-332zinc50: rgba(250, 250, 250, 1);
  --tailwind-css-332zinc100: rgba(244, 244, 245, 1);
  --tailwind-css-332zinc200: rgba(228, 228, 231, 1);
  --tailwind-css-332zinc300: rgba(212, 212, 216, 1);
  --tailwind-css-332zinc400: rgba(161, 161, 170, 1);
  --tailwind-css-332zinc500: rgba(113, 113, 122, 1);
  --tailwind-css-332zinc600: rgba(82, 82, 91, 1);
  --tailwind-css-332zinc700: rgba(63, 63, 70, 1);
  --tailwind-css-332zinc800: rgba(39, 39, 42, 1);
  --tailwind-css-332zinc900: rgba(24, 24, 27, 1);
  --tailwind-css-332zinc950: rgba(9, 9, 11, 1);
  --tailwind-css-332neutral50: rgba(250, 250, 250, 1);
  --tailwind-css-332neutral100: rgba(245, 245, 245, 1);
  --tailwind-css-332neutral200: rgba(229, 229, 229, 1);
  --tailwind-css-332neutral300: rgba(212, 212, 212, 1);
  --tailwind-css-332neutral400: rgba(163, 163, 163, 1);
  --tailwind-css-332neutral500: rgba(115, 115, 115, 1);
  --tailwind-css-332neutral600: rgba(82, 82, 82, 1);
  --tailwind-css-332neutral700: rgba(64, 64, 64, 1);
  --tailwind-css-332neutral800: rgba(38, 38, 38, 1);
  --tailwind-css-332neutral900: rgba(23, 23, 23, 1);
  --tailwind-css-332neutral950: rgba(10, 10, 10, 1);
  --tailwind-css-332stone50: rgba(250, 250, 249, 1);
  --tailwind-css-332stone100: rgba(245, 245, 244, 1);
  --tailwind-css-332stone200: rgba(231, 229, 228, 1);
  --tailwind-css-332stone300: rgba(214, 211, 209, 1);
  --tailwind-css-332stone400: rgba(168, 162, 158, 1);
  --tailwind-css-332stone500: rgba(120, 113, 108, 1);
  --tailwind-css-332stone600: rgba(87, 83, 78, 1);
  --tailwind-css-332stone700: rgba(68, 64, 60, 1);
  --tailwind-css-332stone800: rgba(41, 37, 36, 1);
  --tailwind-css-332stone900: rgba(28, 25, 23, 1);
  --tailwind-css-332stone950: rgba(12, 10, 9, 1);
  --tailwind-css-332red50: rgba(254, 242, 242, 1);
  --tailwind-css-332red100: rgba(254, 226, 226, 1);
  --tailwind-css-332red200: rgba(254, 202, 202, 1);
  --tailwind-css-332red300: rgba(252, 165, 165, 1);
  --tailwind-css-332red400: rgba(248, 113, 113, 1);
  --tailwind-css-332red500: rgba(239, 68, 68, 1);
  --tailwind-css-332red600: rgba(220, 38, 38, 1);
  --tailwind-css-332red700: rgba(185, 28, 28, 1);
  --tailwind-css-332red800: rgba(153, 27, 27, 1);
  --tailwind-css-332red900: rgba(127, 29, 29, 1);
  --tailwind-css-332red950: rgba(69, 10, 10, 1);
  --tailwind-css-332orange50: rgba(255, 247, 237, 1);
  --tailwind-css-332orange100: rgba(255, 237, 213, 1);
  --tailwind-css-332orange200: rgba(254, 215, 170, 1);
  --tailwind-css-332orange300: rgba(253, 186, 116, 1);
  --tailwind-css-332orange400: rgba(251, 146, 60, 1);
  --tailwind-css-332orange500: rgba(249, 115, 22, 1);
  --tailwind-css-332orange600: rgba(234, 88, 12, 1);
  --tailwind-css-332orange700: rgba(194, 65, 12, 1);
  --tailwind-css-332orange800: rgba(154, 52, 18, 1);
  --tailwind-css-332orange900: rgba(124, 45, 18, 1);
  --tailwind-css-332orange950: rgba(67, 20, 7, 1);
  --tailwind-css-332amber50: rgba(255, 251, 235, 1);
  --tailwind-css-332amber100: rgba(254, 243, 199, 1);
  --tailwind-css-332amber200: rgba(253, 230, 138, 1);
  --tailwind-css-332amber300: rgba(252, 211, 77, 1);
  --tailwind-css-332amber400: rgba(251, 191, 36, 1);
  --tailwind-css-332amber500: rgba(245, 158, 11, 1);
  --tailwind-css-332amber600: rgba(217, 119, 6, 1);
  --tailwind-css-332amber700: rgba(180, 83, 9, 1);
  --tailwind-css-332amber800: rgba(146, 64, 14, 1);
  --tailwind-css-332amber900: rgba(120, 53, 15, 1);
  --tailwind-css-332amber950: rgba(69, 26, 3, 1);
  --tailwind-css-332yellow50: rgba(254, 252, 232, 1);
  --tailwind-css-332yellow100: rgba(254, 249, 195, 1);
  --tailwind-css-332yellow200: rgba(254, 240, 138, 1);
  --tailwind-css-332yellow300: rgba(253, 224, 71, 1);
  --tailwind-css-332yellow400: rgba(250, 204, 21, 1);
  --tailwind-css-332yellow500: rgba(234, 179, 8, 1);
  --tailwind-css-332yellow600: rgba(202, 138, 4, 1);
  --tailwind-css-332yellow700: rgba(161, 98, 7, 1);
  --tailwind-css-332yellow800: rgba(133, 77, 14, 1);
  --tailwind-css-332yellow900: rgba(113, 63, 18, 1);
  --tailwind-css-332yellow950: rgba(66, 32, 6, 1);
  --tailwind-css-332lime50: rgba(247, 254, 231, 1);
  --tailwind-css-332lime100: rgba(236, 252, 203, 1);
  --tailwind-css-332lime200: rgba(217, 249, 157, 1);
  --tailwind-css-332lime300: rgba(190, 242, 100, 1);
  --tailwind-css-332lime400: rgba(163, 230, 53, 1);
  --tailwind-css-332lime500: rgba(132, 204, 22, 1);
  --tailwind-css-332lime600: rgba(101, 163, 13, 1);
  --tailwind-css-332lime700: rgba(77, 124, 15, 1);
  --tailwind-css-332lime800: rgba(63, 98, 18, 1);
  --tailwind-css-332lime900: rgba(54, 83, 20, 1);
  --tailwind-css-332lime950: rgba(26, 46, 5, 1);
  --tailwind-css-332green50: rgba(240, 253, 244, 1);
  --tailwind-css-332green100: rgba(220, 252, 231, 1);
  --tailwind-css-332green200: rgba(187, 247, 208, 1);
  --tailwind-css-332green300: rgba(134, 239, 172, 1);
  --tailwind-css-332green400: rgba(74, 222, 128, 1);
  --tailwind-css-332green500: rgba(34, 197, 94, 1);
  --tailwind-css-332green600: rgba(22, 163, 74, 1);
  --tailwind-css-332green700: rgba(21, 128, 61, 1);
  --tailwind-css-332green800: rgba(22, 101, 52, 1);
  --tailwind-css-332green900: rgba(20, 83, 45, 1);
  --tailwind-css-332green950: rgba(5, 46, 22, 1);
  --tailwind-css-332emerald50: rgba(236, 253, 245, 1);
  --tailwind-css-332emerald100: rgba(209, 250, 229, 1);
  --tailwind-css-332emerald200: rgba(167, 243, 208, 1);
  --tailwind-css-332emerald300: rgba(110, 231, 183, 1);
  --tailwind-css-332emerald400: rgba(52, 211, 153, 1);
  --tailwind-css-332emerald500: rgba(16, 185, 129, 1);
  --tailwind-css-332emerald600: rgba(5, 150, 105, 1);
  --tailwind-css-332emerald700: rgba(4, 120, 87, 1);
  --tailwind-css-332emerald800: rgba(6, 95, 70, 1);
  --tailwind-css-332emerald900: rgba(6, 78, 59, 1);
  --tailwind-css-332emerald950: rgba(2, 44, 34, 1);
  --tailwind-css-332teal50: rgba(240, 253, 250, 1);
  --tailwind-css-332teal100: rgba(204, 251, 241, 1);
  --tailwind-css-332teal200: rgba(153, 246, 228, 1);
  --tailwind-css-332teal300: rgba(94, 234, 212, 1);
  --tailwind-css-332teal400: rgba(45, 212, 191, 1);
  --tailwind-css-332teal500: rgba(20, 184, 166, 1);
  --tailwind-css-332teal600: rgba(13, 148, 136, 1);
  --tailwind-css-332teal700: rgba(15, 118, 110, 1);
  --tailwind-css-332teal800: rgba(17, 94, 89, 1);
  --tailwind-css-332teal900: rgba(19, 78, 74, 1);
  --tailwind-css-332teal950: rgba(4, 47, 46, 1);
  --tailwind-css-332cyan50: rgba(236, 254, 255, 1);
  --tailwind-css-332cyan100: rgba(207, 250, 254, 1);
  --tailwind-css-332cyan200: rgba(165, 243, 252, 1);
  --tailwind-css-332cyan300: rgba(103, 232, 249, 1);
  --tailwind-css-332cyan400: rgba(34, 211, 238, 1);
  --tailwind-css-332cyan500: rgba(6, 182, 212, 1);
  --tailwind-css-332cyan600: rgba(8, 145, 178, 1);
  --tailwind-css-332cyan700: rgba(14, 116, 144, 1);
  --tailwind-css-332cyan800: rgba(21, 94, 117, 1);
  --tailwind-css-332cyan900: rgba(22, 78, 99, 1);
  --tailwind-css-332cyan950: rgba(8, 51, 68, 1);
  --tailwind-css-332sky50: rgba(240, 249, 255, 1);
  --tailwind-css-332sky100: rgba(224, 242, 254, 1);
  --tailwind-css-332sky200: rgba(186, 230, 253, 1);
  --tailwind-css-332sky300: rgba(125, 211, 252, 1);
  --tailwind-css-332sky400: rgba(56, 189, 248, 1);
  --tailwind-css-332sky500: rgba(14, 165, 233, 1);
  --tailwind-css-332sky600: rgba(2, 132, 199, 1);
  --tailwind-css-332sky700: rgba(3, 105, 161, 1);
  --tailwind-css-332sky800: rgba(7, 89, 133, 1);
  --tailwind-css-332sky900: rgba(12, 74, 110, 1);
  --tailwind-css-332sky950: rgba(8, 47, 73, 1);
  --tailwind-css-332blue50: rgba(239, 246, 255, 1);
  --tailwind-css-332blue100: rgba(219, 234, 254, 1);
  --tailwind-css-332blue200: rgba(191, 219, 254, 1);
  --tailwind-css-332blue300: rgba(147, 197, 253, 1);
  --tailwind-css-332blue400: rgba(96, 165, 250, 1);
  --tailwind-css-332blue500: rgba(59, 130, 246, 1);
  --tailwind-css-332blue600: rgba(37, 99, 235, 1);
  --tailwind-css-332blue700: rgba(29, 78, 216, 1);
  --tailwind-css-332blue800: rgba(30, 64, 175, 1);
  --tailwind-css-332blue900: rgba(30, 58, 138, 1);
  --tailwind-css-332blue950: rgba(23, 37, 84, 1);
  --tailwind-css-332indigo50: rgba(238, 242, 255, 1);
  --tailwind-css-332indigo100: rgba(224, 231, 255, 1);
  --tailwind-css-332indigo200: rgba(199, 210, 254, 1);
  --tailwind-css-332indigo300: rgba(165, 180, 252, 1);
  --tailwind-css-332indigo400: rgba(129, 140, 248, 1);
  --tailwind-css-332indigo500: rgba(99, 102, 241, 1);
  --tailwind-css-332indigo600: rgba(79, 70, 229, 1);
  --tailwind-css-332indigo700: rgba(67, 56, 202, 1);
  --tailwind-css-332indigo800: rgba(55, 48, 163, 1);
  --tailwind-css-332indigo900: rgba(49, 46, 129, 1);
  --tailwind-css-332indigo950: rgba(30, 27, 75, 1);
  --tailwind-css-332violet50: rgba(245, 243, 255, 1);
  --tailwind-css-332violet100: rgba(237, 233, 254, 1);
  --tailwind-css-332violet200: rgba(221, 214, 254, 1);
  --tailwind-css-332violet300: rgba(196, 181, 253, 1);
  --tailwind-css-332violet400: rgba(167, 139, 250, 1);
  --tailwind-css-332violet500: rgba(139, 92, 246, 1);
  --tailwind-css-332violet600: rgba(124, 58, 237, 1);
  --tailwind-css-332violet700: rgba(109, 40, 217, 1);
  --tailwind-css-332violet800: rgba(91, 33, 182, 1);
  --tailwind-css-332violet900: rgba(76, 29, 149, 1);
  --tailwind-css-332violet950: rgba(46, 16, 101, 1);
  --tailwind-css-332purple50: rgba(250, 245, 255, 1);
  --tailwind-css-332purple100: rgba(243, 232, 255, 1);
  --tailwind-css-332purple200: rgba(233, 213, 255, 1);
  --tailwind-css-332purple300: rgba(216, 180, 254, 1);
  --tailwind-css-332purple400: rgba(192, 132, 252, 1);
  --tailwind-css-332purple500: rgba(168, 85, 247, 1);
  --tailwind-css-332purple600: rgba(147, 51, 234, 1);
  --tailwind-css-332purple700: rgba(126, 34, 206, 1);
  --tailwind-css-332purple800: rgba(107, 33, 168, 1);
  --tailwind-css-332purple900: rgba(88, 28, 135, 1);
  --tailwind-css-332purple950: rgba(59, 7, 100, 1);
  --tailwind-css-332fuchsia50: rgba(253, 244, 255, 1);
  --tailwind-css-332fuchsia100: rgba(250, 232, 255, 1);
  --tailwind-css-332fuchsia200: rgba(245, 208, 254, 1);
  --tailwind-css-332fuchsia300: rgba(240, 171, 252, 1);
  --tailwind-css-332fuchsia400: rgba(232, 121, 249, 1);
  --tailwind-css-332fuchsia500: rgba(217, 70, 239, 1);
  --tailwind-css-332fuchsia600: rgba(192, 38, 211, 1);
  --tailwind-css-332fuchsia700: rgba(162, 28, 175, 1);
  --tailwind-css-332fuchsia800: rgba(134, 25, 143, 1);
  --tailwind-css-332fuchsia900: rgba(112, 26, 117, 1);
  --tailwind-css-332fuchsia950: rgba(74, 4, 78, 1);
  --tailwind-css-332pink50: rgba(253, 242, 248, 1);
  --tailwind-css-332pink100: rgba(252, 231, 243, 1);
  --tailwind-css-332pink200: rgba(251, 207, 232, 1);
  --tailwind-css-332pink300: rgba(249, 168, 212, 1);
  --tailwind-css-332pink400: rgba(244, 114, 182, 1);
  --tailwind-css-332pink500: rgba(236, 72, 153, 1);
  --tailwind-css-332pink600: rgba(219, 39, 119, 1);
  --tailwind-css-332pink700: rgba(190, 24, 93, 1);
  --tailwind-css-332pink800: rgba(157, 23, 77, 1);
  --tailwind-css-332pink900: rgba(131, 24, 67, 1);
  --tailwind-css-332pink950: rgba(80, 7, 36, 1);
  --tailwind-css-332rose50: rgba(255, 241, 242, 1);
  --tailwind-css-332rose100: rgba(255, 228, 230, 1);
  --tailwind-css-332rose200: rgba(254, 205, 211, 1);
  --tailwind-css-332rose300: rgba(253, 164, 175, 1);
  --tailwind-css-332rose400: rgba(251, 113, 133, 1);
  --tailwind-css-332rose500: rgba(244, 63, 94, 1);
  --tailwind-css-332rose600: rgba(225, 29, 72, 1);
  --tailwind-css-332rose700: rgba(190, 18, 60, 1);
  --tailwind-css-332rose800: rgba(159, 18, 57, 1);
  --tailwind-css-332rose900: rgba(136, 19, 55, 1);
  --tailwind-css-332rose950: rgba(76, 5, 25, 1);
  --light-modetextdefault: rgba(32, 32, 32, 1);
  --light-modebackgrounddefault: rgba(255, 255, 255, 1);
  --light-modeborderdefault: rgba(233, 233, 235, 1);
  --light-modebackgroundprimary: rgba(44, 113, 246, 1);
  --light-modebackgroundprimary-hover: rgba(34, 87, 190, 1);
  --light-modebackgroundsecondary: rgba(248, 249, 251, 1);
  --navigation-regular-font-family: "Roboto", Helvetica;
  --navigation-regular-font-weight: 400;
  --navigation-regular-font-size: 18px;
  --navigation-regular-letter-spacing: 0px;
  --navigation-regular-line-height: 139.9999976158142%;
  --navigation-regular-font-style: normal;
  --navigation-bold-font-family: "Roboto", Helvetica;
  --navigation-bold-font-weight: 700;
  --navigation-bold-font-size: 18px;
  --navigation-bold-letter-spacing: 0px;
  --navigation-bold-line-height: 139.9999976158142%;
  --navigation-bold-font-style: normal;
  --button-button1-font-family: "Roboto", Helvetica;
  --button-button1-font-weight: 600;
  --button-button1-font-size: 16px;
  --button-button1-letter-spacing: 0px;
  --button-button1-line-height: 100%;
  --button-button1-font-style: normal;
  --text-body1-regular-font-family: "Roboto", Helvetica;
  --text-body1-regular-font-weight: 400;
  --text-body1-regular-font-size: 16px;
  --text-body1-regular-letter-spacing: 0px;
  --text-body1-regular-line-height: 139.9999976158142%;
  --text-body1-regular-font-style: normal;
  --button-button2-font-family: "Roboto", Helvetica;
  --button-button2-font-weight: 600;
  --button-button2-font-size: 14px;
  --button-button2-letter-spacing: 0px;
  --button-button2-line-height: 100%;
  --button-button2-font-style: normal;
  --header-h1-font-family: "Roboto", Helvetica;
  --header-h1-font-weight: 500;
  --header-h1-font-size: 28px;
  --header-h1-letter-spacing: 0px;
  --header-h1-line-height: 139.9999976158142%;
  --header-h1-font-style: normal;
  --variable-collection-teks-04: rgba(250, 250, 250, 1);
}
