/* Sidebar CSS */
.sidebar-container {
  position: relative;
}

.sidebar-toggle {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  cursor: pointer;
  font-size: 24px; /* Adjust size accordingly */
  display: none; /* Hidden by default */
}

.sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 100; /* Ensure it's above other content */
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-items, .nav-links, .action-buttons {
  padding: 20px;
}

.sidebar-item, .sidebar-button, .sidebar-button-alt {
  display: block;
  margin: 10px 0;
  color: #000; /* Adjust color */
}

#sidebar-active:checked + .sidebar {
  transform: translateX(0);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 50; /* Below the sidebar */
}

#sidebar-active:checked ~ #overlay {
  display: block;
}

@media (max-width: 768px) {
  .open-sidebar-button {
    display: block;
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 200; /* Above the sidebar */
  }

  .button-contained {
    display: none; /* Hide the original button in mobile view */
  }

  .sidebar {
    width: 250px; /* Adjust width for mobile */
  }
}

